<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scb.hello_world">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".List_category" />
        <activity android:name=".Pakistan_History" />
        <activity android:name=".Wonders_Of_Pakistan" />
        <activity android:name=".National_songs" />
        <activity android:name=".Qauid_E_Azam" />
        <activity android:name=".Allama_iqbal" />
        <activity android:name=".Sir_syed" />
        <activity android:name=".Raheel_Shareef" />
        <activity android:name=".Shahid_Afridi" />
        <activity android:name=".Saylani" />
        <activity android:name=".University_karachi"></activity>
    </application>

</manifest>